# Any Node Modules
node_modules/

todo.txt

# Environment Variables
.env
.env.prod

# Cached Build
cache/
out/

# Vscode
.vscode/

# huffc artifacts
artifacts

# Ignore flattened files
flattened.txt

# Ignore Broadcasts
broadcast